@import "../index";
@import "./Titlebar";

@mixin columnsAndContent {
  & > .c-name {
    padding: 1rem;
    flex-basis: 10rem;

    &.select {
      flex-basis: unset;
    }

    &.day {
      flex-basis: unset;
    }

    &.name {
      flex-grow: 1;
    }

    &.description {
      flex-grow: 4;
    }
  }
}

.main-table {
  //background-color: red;
  min-width: 100%;
  //position: fixed;
  //top: $height;
  //margin-top: $height;
  z-index: -1;
  font-size: 1.2rem;

  & > thead {
    padding: 1rem;
    background-color: var(--color-titlebar);
    //border-bottom: 1px solid rgba(gray, 0.2);
  }
  //
  //& > .table-contents {
  //  display: flex;
  //}
}
