@import "../index";
@import "./Titlebar";

.main-table {
  //background-color: red;
  //min-width: 100%;
  //position: fixed;
  //top: $height;
  //margin-top: $height;
  z-index: -1;

  & > .columns {
    background-color: var(--color-titlebar);
    display: flex;
    //justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(gray, 0.2);
    //font-weight: 700;
    & > .c-name {
      padding: 1rem;
      flex-basis: 10rem;

      &.select {
        flex-basis: unset;
      }
      &.day {
        flex-basis: unset;
      }
      &.name {
        flex-grow: 1;
        //background-color: red;
        //max-width: 10rem;
        //flex-basis: 25rem;
      }
      &.description {
        flex-basis: 30rem;
        flex-grow: 1;
      }
    }
  }
}
