@import "../index";
@import "./Titlebar";

@mixin columnsAndContent {
  .c-name {
    padding: 1rem;
    flex-basis: 10rem;

    &.select {
      width: 0.5rem;
    }

    &.day {
      width: 0.5rem;
    }

    &.name {
    }

    &.description {
    }
  }
}

.main-table {
  //background-color: red;
  min-width: 100%;
  //position: fixed;
  //top: $height;
  //margin-top: $height;
  z-index: -1;
  font-size: 1.2rem;

  table {
    //border: none;
    border-collapse: collapse;
  }

  & > thead {
    @include columnsAndContent();
    & > tr > th {
      //background-color: red;
      padding: 0.5rem;
      border-collapse: collapse;
      text-align: left;
    }
    background-color: var(--color-titlebar);
    //border-bottom: 1px solid rgba(gray, 0.2);
  }

  & > tbody {
    & > tr {
      & > td {
        //background-color: red;
      }
    }
  }
  //
  //& > .table-contents {
  //  display: flex;
  //}
}
